.calendar-days {
  width: 100px;
  height: 100px;
  background: #E6E9F4;
  border: 1px solid #2C395F;
  color: #2C395F;
}

.calendar-days-week {
  width: 100px;
  height: 30px;
  background: #2C395F;
  border: 1px solid #2C395F;
  text-align: center;
}

.calendar-days-white {
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #2C395F;
  color: #2C395F;
}

.calendar-workHrs {
  text-align: center;
  font-size: 50%;
}

table {
  width: 100%;
  height: 100%;
}
