<!-- Button trigger modal -->
<button [hidden]="true" #openModalButton data-toggle="modal" data-target="#workHoursModal"></button>
<!--Calendar -->

<div class="col-sm-10 offset-sm-1 card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="row justify-content-md-center">
          <div class="col align-self-start">
            <button type="button" class="btn btn-secondary mr-2 ml-2"
                    (click)="onPreviousMonth(currentDate.day,currentDate.month,currentDate.year)"> Previous
            </button>
          </div>
          <div class="col align-self-center">
            {{this.months[currentDate.month - 1]}} {{currentDate.year}}
          </div>
          <div class="col align-self-end">
            <button type="button" class="btn btn-secondary mr-2 ml-2"
                    (click)="onNextMonth(currentDate.day,currentDate.month,currentDate.year)"> Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body" #monthCardBody>
    <div class="row">
      <div class="col-sm-2"></div>
      <div *ngFor="let day of days" class="col-sm-1 text-white calendar-days-week">
        {{day}}
      </div>
    </div>
    <div class="row" *ngFor="let item of [1,2,3,4,5,6]">
      <div class="col-sm-2"></div>
      <div *ngFor="let i of  getDayRangeWeek(item,firstDayOfMonth(currentDate.month,currentDate.year))"
           [className]="(i <=getMonthDays(currentDate.month,currentDate.year)) && (i >= 1) ? 'col-sm-1 calendar-days-white' : 'col-sm-1 calendar-days'"
           (click)="onDayClick(i, currentDate.month, currentDate.year, ((i <=getMonthDays(currentDate.month,currentDate.year)) && (i >= 1)))">
        <p class="text-danger">{{ (i <= getMonthDays(currentDate.month, currentDate.year)) && (i >= 1) ? i : ''}}</p>
        <p class="text-success font-weight-bold small"
           [textContent]="setPTextContent(i, currentDate.month, currentDate.year)"></p>

      </div>
    </div>
  </div>
  <div class="card-footer justify-content-sm-center">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="row">
          <div class="col align-self-start">
            <button type="button" class="btn btn-danger mr-2 ml-2"
                    (click)="onExportPDF()">
              {{this.months[currentDate.month - 1]}} {{currentDate.year}}
              <i class="fa fa-file-pdf-o ml-2" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col align-self-center">
            <button type="button" class="btn btn-success mr-2 ml-2"
                    (click)="onExportExcel()">
              {{this.months[currentDate.month - 1]}} {{currentDate.year}}
              <i class="fa fa-file-excel-o ml-2" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col align-self-end">
            <button type="button" class="btn bg-info mr-2 ml-2"
                    (click)="onPrint()">
              {{this.months[currentDate.month - 1]}} {{currentDate.year}}
              <i class="fa fa-print ml-2" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="workHoursModal" tabindex="-1" role="dialog" #workHoursModal
     aria-labelledby="workHoursModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="workHoursModalLabel">
          Set work hours for {{clickedDate.day}} {{this.months[clickedDate.month - 1]}} {{clickedDate.year}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #workHoursModalCloseBtn>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="workHrsForm" (ngSubmit)="onWorkHoursSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="projectsSelect">List of projects</label>
            <select class="form-control" id="projectsSelect"
                    formControlName="project">
              <option *ngFor="let project of projects" [ngValue]="project">{{project}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="beginDate">Begin</label>
            <input id="beginDate" class="form-control" type="time"
                   formControlName="begin" placeholder="08:00">
          </div>
          <div class="form-group">
            <label for="pauseDate">Pause</label>
            <input id="pauseDate" class="form-control" type="time"
                   formControlName="pause" placeholder="00:30">
          </div>
          <div class="form-group">
            <label for="endDate">End</label>
            <input id="endDate" class="form-control" type="time"
                   formControlName="end" placeholder="17:30">
          </div>
          <div class="form-group">
            <label for="commentTextarea">Comment</label>
            <textarea class="form-control" id="commentTextarea"
                      formControlName="comment" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="workHrsForm.invalid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
